In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [2]:

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [3]:
#school_data_complete.columns

In [4]:
# Calculate the total number of unique schools
school_count =  len(school_data_complete["school_name"].unique())
school_count

15

In [5]:
# Calculate the total number of students
student_count =  len(school_data_complete["Student ID"].unique())
student_count

39170

In [6]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [7]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [8]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [9]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [10]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [11]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [12]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

## create a dictionary with the variables calculated

x = {"Total Schools":school_count,"Total Students":student_count,"Total Budget":total_budget,
     "Average Math Score":average_math_score,"Average Reading Score": average_reading_score,
     "% Passing Math":passing_math_percentage,"% Passing Reading":passing_reading_percentage,
     "% Overall Passing":overall_passing_rate}

## create the dataframe with our dictionary

district_summary = pd.DataFrame([x])


# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
school_types = school_data.set_index(["school_name"])["type"]

school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [14]:
# Calculate the total student count per school from school_data
per_school_counts = school_data[["school_name","size"]]
per_school_counts

              school_name  size
0       Huang High School  2917
1    Figueroa High School  2949
2     Shelton High School  1761
3   Hernandez High School  4635
4     Griffin High School  1468
5      Wilson High School  2283
6     Cabrera High School  1858
7      Bailey High School  4976
8      Holden High School   427
9        Pena High School   962
10     Wright High School  1800
11  Rodriguez High School  3999
12    Johnson High School  4761
13       Ford High School  2739
14     Thomas High School  1635

In [15]:
# Calculate the total school budget and per capita spending per school from school_data


## calculate per_school_capita 
per_school_capita = school_data["budget"] / school_data["size"]
school_data["Per_school_capita"] = per_school_capita


per_school_budget = school_data[["school_name","budget","Per_school_capita"]]

per_school_budget

              school_name   budget  Per_school_capita
0       Huang High School  1910635              655.0
1    Figueroa High School  1884411              639.0
2     Shelton High School  1056600              600.0
3   Hernandez High School  3022020              652.0
4     Griffin High School   917500              625.0
5      Wilson High School  1319574              578.0
6     Cabrera High School  1081356              582.0
7      Bailey High School  3124928              628.0
8      Holden High School   248087              581.0
9        Pena High School   585858              609.0
10     Wright High School  1049400              583.0
11  Rodriguez High School  2547363              637.0
12    Johnson High School  3094650              650.0
13       Ford High School  1763916              644.0
14     Thomas High School  1043130              638.0

In [16]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
#per_school_reading
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

#per_school_math
#per_school_reading

In [22]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete

## filter students passing math 
filt_math_pass = school_data_complete[(school_data_complete["math_score"]>=70)]


# all students_passing: lenth of the previous filter
students_passing_math = len(filt_math_pass)

#school_students_passing : groupby the previous filter and count values
school_students_passing_math = filt_math_pass.groupby("school_name")["math_score"].count()

#students_passing_reading
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [27]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete

## filter students passing reading 
filt_reading_pass = school_data_complete[(school_data_complete["reading_score"]>=70)]


# all students_passing: lenth of the previous filter
students_passing_reading = len(filt_reading_pass)

#school_students_passing : groupby the previous filter and count values
school_students_passing_reading = filt_reading_pass.groupby("school_name")["reading_score"].count()

#students_passing_reading
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [28]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [29]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [40]:

# schools = school_data["school_name"]
# types = school_data["type"]

summary = pd.merge(school_types,per_school_counts,on="school_name")
summary = pd.merge(summary,total_budget,on="school_name")

# summary = pd.concat([school_types,per_school_counts,total_budget,per_school_capita,average_math_score,
#                      average_reading_score,school_students_passing_math,school_students_passing_reading,
#                      school_students_passing_math_and_reading])
summary
# z = {"school_name":schools,"School_type":types,
#     "Total Students":per_school_counts,"Total School Budget":total_budget,
#      "Per Student Budget":per_school_capita,"Average Math Score":average_math_score,
#      "Average Reading Score":average_reading_score,"% Passing Math":school_students_passing_math,
#      "% Passing Reading":school_students_passing_reading,
#      "% Overall Passing":school_students_passing_math_and_reading}

# per_school_summary = pd.DataFrame(z)

TypeError: Can only merge Series or DataFrame objects, a <class 'numpy.int64'> was passed